body {
  padding-left: 10px;
  padding-right: 20px;
  background-color: aliceblue;
  background-image: url(../src/assets/imgs/background.jpeg);
}
.app-name {
  text-align: center;
  color: rgb(255, 255, 255);
}
.search-div {
  text-align: center;
}
.search-box {
  border: none;
  box-shadow: 5px 5px rgb(162, 162, 162);
  width: 50%;
  padding-left: 5px;
  height: 46px;
  font-size: larger;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  margin-top: 20px;
}
.hide {
  display: none;
}
.emoji-div {
  position: relative;
  display: flex;
  box-shadow: 2px 2px 2px 2px rgb(208, 207, 207);
  flex-direction: column;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 6px;
}
.emoji-div:hover {
  background-color: rgb(218, 216, 216);
  cursor: pointer;
}
.emoji-div:hover .hide {
  position: absolute;
  top: 50%;
  left: 10%;
  display: block;
  color: rgb(163, 162, 162);
}
.emoji-picture {
  padding-top: 10px;
  font-size: 40px;
}
.emoji-name {
  padding-left: 10px;
  padding-right: 10px;
}
.emoji-box {
  background-color: green;
}
